@charset "UTF-8";

/* 回答はここに書いてね */
.contents__box {
  width: 500px;
  height: 500px;
  background-color: #ecf1f2;
  position: relative;
  margin: 0 auto;
}

.q5__box {
  position: absolute;
  width: 100px;
  font-weight: bold;
  font-size: 30px;
  line-height: 100px;
  text-align: center;
}

.is__1 {
  background-color: #ffefd3;
  top: 40px;
  left: 200px;
  z-index: 1;
}

.is__2 {
  background-color: #7084de;
  top: 120px;
  left: 280px;
  z-index: 2;
}

.is__3 {
  background-color: #d0ecea;
  top: 200px;
  left: 360px;
  z-index: 3;
}

.is__4 {
  background-color: #8b7a5e;
  top: 280px;
  left: 280px;
  z-index: 4;
}

.is__5 {
  background-color: #9fd6d2;
  top: 360px;
  left: 200px;
  z-index: 5;
}

.is__6 {
  background-color: #fffee4;
  top: 280px;
  left: 120px;
  z-index: 6;
}

.is__7 {
  background-color: #deae70;
  top: 200px;
  left: 40px;
  z-index: 7;
}

.is__8 {
  background-color: #de70cf;
  top: 120px;
  left: 120px;
  z-index: 8;
}
.is__8:before {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #FFEFD3;
  content: "";
}

.is__9 {
  z-index: 10;
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #2B69A3;
}
/* 回答はここに書いてね */
